body {
    background-image: url("/img/2993418.jpg");
    margin: 0px;
    font-size: 16px;
}

#cyberIcon{
  position: relative;
  text-align: center;
  bottom: -200px;
  font-size: 80px;
  color:#169cb7;
}

#secNotice{
  font-size: 20px;
  color:#aee2f2;
}
.frost{
position:relative;
border-radius: 25% 25% 25% 25% / 50% 50% 50% 50%;
bottom:-200px;
right:-350px;
width:50vw;
text-align: center;
background: rgba(64, 130, 180, 0.5);
-webkit-backdrop-filter: blur(10px);
backdrop-filter: blur(10px);
border: 1px solid rgba(255,255,255,0.25);
}

#navClick {
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.5);
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0.25);
  border-image: initial;
}

.nav ul {
  list-style: none;
  text-align: center;
  background-color: rgb(71, 151, 242);
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: 0.3s background-color;
}

.nav a:hover {
  background-color: #6ec1f8;
}

/*.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}*/

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  /* Option 1 - Display Inline */
  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}

#btn{
   height:2rem;
   width:6rem;
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   background: #a0e9ff;
background: -webkit-linear-gradient(0deg, #a0e9ff 0%, #a8f0ff 50%, #c6f5ff 100%);
background: linear-gradient(0deg, #a0e9ff 0%, #a8f0ff 50%, #c6f5ff 100%);
}
#btn:hover{
   width:7.5rem;
   background:rgb(105, 233, 131);
}

#f1{
    font-size: 28px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}